<div class="container">
  <div>
    <h2>Watch these</h2>
    <% @lists.each do |list| %>
      <div class="card">
        <h3> <%= link_to list.name, list_path(list) %> </h3>
      </div>
    <% end %>
  </div>

<%= cl_image_tag("
ifan7g0hdoua8rur1yhu",
      width: 400, height: 300, crop: :fill) %>

  <div>
    <%= link_to "New List", new_list_path %>
  </div>
</div>
