
<div class="container">
  <div class="banner">
    <h2 class="banner h1">Watch these</h2>
  </div>
  <div class="d-flex">
    <% @lists.each do |list| %>
      <div class="card-genre col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
        <h3> <%= link_to list.name, list_path(list), class: "text-info"%> </h3>
      </div>
    <% end %>
    </div>

  <div class="btn-ghost">
    <%= link_to "New List", new_list_path %>
  </div>

</div>
